{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  <title>{% block title %}ECloud - {% block app_title %}{% endblock %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  {% block base_css %}
    <!-- Base css -->
    {% block app_css_head %}{% endblock %}
    <link href="{% static 'css/assets/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/assets/icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/assets/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/pages/base.css' %}?v=1" rel="stylesheet">

    <!-- plugin css -->
    <link href="{% static 'plugins/toastr/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet">

    <!-- App css -->
    {% block app_css %}{% endblock %}
  {% endblock %}

</head>
<body {% block body_tags %}{% endblock %}>
{# global messages here #}
{% block messages %}
  {% if messages %}
    <ul class="messages" style="display: none!important;">
      {% for message in messages %}
        <li class="message" data-message-level="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}

{# all modals here #}
{% block modals %}{% endblock %}

{% block main %}{% endblock %}  {# custom content #}

{% block base_js %}
  <!-- JQuery -->
  <script src="{% static 'js/assets/jquery.min.js' %}"></script>
  <script src="{% static 'js/assets/popper.min.js' %}"></script>
  <script src="{% static 'js/assets/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/assets/detect.js' %}"></script>
  <script src="{% static 'js/assets/fastclick.js' %}"></script>
  <script src="{% static 'js/assets/jquery.blockUI.js' %}"></script>
  <script src="{% static 'js/assets/waves.js' %}"></script>
  <script src="{% static 'js/assets/jquery.nicescroll.js' %}"></script>
  <script src="{% static 'js/assets/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'js/assets/jquery.scrollTo.min.js' %}"></script>

    <!-- plugins -->
  <script src="{% static 'plugins/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>

  <script>
      {# val to base.js #}
      var loadingImageUrl = "{% static 'images/spinners/rotate-palette-loader.svg' %}"
  </script>
  <script src="{% static 'js/pages/base.js' %}"></script>

  {% block app_js %}{% endblock %}
{% endblock %}

</body>
</html>