{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'css/assets/ghpages-materialize.css' %}" rel="stylesheet">
  {% block css_dashboard %}{% endblock %}
{% endblock %}

{% block header %}
  <header>
    {% block header_nav %}
      {# top nav #}
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h1 class="header">{% block header_nav_title %}Header{% endblock %}</h1>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}
    <div class="container"><a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a></div>
    {# side nav #}
    <ul id="nav-side" class="sidenav sidenav-fixed">
      <li class="logo"><a id="logo-container" href="/" class="brand-logo">
        <img src="{% static 'images/logo/logo.jpg' %}" style="width: 100%;"></a>
      </li>

      {# dashboard menu rendering #}
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          {% for menu in side_nav_menus %}
            {% with menu=menu submenu=menu.menu_of_submenu.all %}
              {% if submenu|length > 0 %}
                {# with submenu #}
                <li class="bold">
                  <a class="collapsible-header waves-effect waves-teal">{{ menu.display_name }}</a>
                  <div class="collapsible-body">
                    <ul>
                      {% for item in submenu %}
                      <li><a href="/{{ menu.name }}/{{ item.name }}/">{{ item.display_name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              {% else %}
                {# no sub menu #}
                <li class="bold">
                  <a class="waves-effect waves-teal" href="/{{ menu.name }}/">{{ menu.display_name }}</a>
                </li>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </ul>
      </li>
    </ul>

  </header>

{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m8 l8">
          {% block dashboard_content %}
              Hello, I'm dashboard
          {% endblock %}

      </div>
    </div>

  </div>
{% endblock %}

{% block footer %}{% endblock %}
{% block js %}
  <script src="{% static 'js/dashboard/base.js' %}?v=3"></script>
  {% block js_dashboard %}{% endblock %}
{% endblock %}