{% extends "base/base.html" %}
{% load static i18n %}
{% load common_tags %}

{% block app_title %}{% endblock %}
{% block app_css %}

  {% block dashboard_css_head %}{% endblock %}
  <link href="{% static 'css/assets/material-design-iconic-font.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet">

  <script src="{% static 'js/assets/modernizr.min.js' %}"></script>
  {% block dashboard_css %}{% endblock %}
{% endblock %}

{% block body_tags %}class="fixed-left"{% endblock %}

{% block main %}

  {# base modals here #}
  <div id="wrapper">
    <!-- start wrapper -->

    {% block topbar %}
      <!-- Top Bar Start -->
      <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
          <a href="{% url 'dashboard:index' %}" class="logo"><span>NB<span>Cloud</span></span><i class="mdi mdi-layers"></i></a>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">

            <!-- Page title -->
            <ul class="nav navbar-nav list-inline navbar-left">
              <li class="list-inline-item">
                <button class="button-menu-mobile open-left">
                  <i class="mdi mdi-menu"></i>
                </button>
              </li>
              <li class="list-inline-item">
                {% if breadcrumb_paths|length == 1 %}
                  <h4 class="page-title">{% trans breadcrumb_paths.0.name %}</h4>
                {% else %}
                  <ol class="breadcrumb m-b-20">

                    {% for item in breadcrumb_paths %}
                      <li class="breadcrumb-item {% if forloop.revcounter == 1 %}active{% endif %}">
                        {% if breadcrumb_paths|length > 2 %}
                          {% if forloop.counter == 3 %}
                            <a>{{ item.name }}</a>
                          {% else %}
                            <a {% if forloop.revcounter != 1 %}href="{{ item.path }}"{% endif %}>{% if item.name|length > 10 %}{{ item.name|truncatechars:10 }}{% else %}{{ item.name }}{% endif %}</a>
                          {% endif %}
                        {% else %}
                          <a {% if forloop.revcounter != 1 %}href="{{ item.path }}"{% endif %}>{% if item.name|length > 10 %}{{ item.name|truncatechars:10 }}{% else %}{{ item.name }}{% endif %}</a>

                        {% endif %}

                      </li>
                    {% endfor %}
                  </ol>
                {% endif %}

              </li>
            </ul>

            <nav class="navbar-custom">
              <ul class="list-unstyled topbar-right-menu float-right mb-0">
                <li>
                  <!-- Notification -->
                  <div class="notification-box">
                    <ul class="list-inline mb-0">
                      <li>
                        <a href="javascript:void(0);" class="right-bar-toggle">
                          <i class="mdi mdi-bell-outline noti-icon"></i>
                        </a>
                        <div class="noti-dot">
                          <span class="dot"></span>
                          <span class="pulse"></span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- End Notification bar -->
                </li>

                <li class="hide-phone">
                  <form class="app-search">
                    <input type="text" placeholder="Search..." class="form-control">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </li>

              </ul>
            </nav>
          </div><!-- end container -->
        </div><!-- end navbar -->
      </div>
      <!-- Top Bar End -->
    {% endblock %}

    {% block left_sidebar %}
      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu">

        <div class="sidebar-inner slimscrollleft">

          <!-- User -->
          <div class="user-box">
            <div class="user-img">
              <img src="{% static 'images/users/avatar-1.jpg' %}" alt="user-img" title="{{ user.username }}" class="rounded-circle img-thumbnail img-responsive">
              <div class="user-status offline"><i class="mdi mdi-adjust"></i></div>
            </div>
            <h5><a href="{% url 'identity:user_detail' user.id %}">{{ user.username }}</a> </h5>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Settings' %}">
                  <i class="mdi mdi-settings"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <form type="post" action="">
                  <a id="user-logout" href="javascript:void(0);" class="text-custom" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Logout' %}">
                    <i class="mdi mdi-logout"></i>
                  </a>
                </form>

              </li>
            </ul>
          </div>
          <!-- End User -->

          <!--- Sidebar menu -->
          <div id="sidebar-menu">
            <ul>
              <li class="text-muted menu-title">Navigation</li>
              <li>
                <a href="{% url 'dashboard:index' %}" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span> </a>
              </li>
              {% with perm=perms.compute %}
                {% if perm.list_server or perm.list_host or perm.list_snapshot or perm.list_image or perm.list_backup %}
                  <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                      <i class="mdi mdi-memory"></i> <span> Compute </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                      {% if perm.list_server %}<li><a href="{% url 'compute:server_list' %}">Server</a></li>{% endif %}
                      {% if perm.list_host %}<li><a href="{% url 'compute:host_list' %}">Host</a></li>{% endif %}
                      {% if perm.list_snapshot %}<li><a href="{% url 'compute:snap_list' %}">Snapshot</a></li>{% endif %}
                      {% if perm.list_image %}<li><a href="{% url 'compute:image_list' %}">Image</a></li>{% endif %}
                      {% if perm.list_backup %}<li><a href="{% url 'compute:backup_list' %}">Backup</a></li>{% endif %}
                    </ul>
                  </li>
                {% endif %}
              {% endwith %}

              {% with perm=perms.cinder %}
                {% if perm.list_volume %}
                  <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                      <i class="mdi mdi-database"></i> <span> Storage </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                      {% if perm.list_storage %}<li><a href="{% url 'storage:storage_list' %}">Storage</a></li>{% endif %}
                      {% if perm.list_volume %}<li><a href="{% url 'storage:volume_list' %}">Volume</a></li>{% endif %}
                    </ul>
                  </li>
                {% endif %}
              {% endwith %}


                  <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                      <i class="mdi mdi-sitemap"></i> <span> Network </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                      <li><a href="{% url 'network:network_list' %}">Network</a></li>
                    </ul>
                  </li>

              {% with perm=perms.identity %}
                {% if perm.list_user or perm.list_group or perm.list_permission %}
                  <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect">
                      <i class="mdi mdi-security"></i> <span> Identity </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                      {% if perm.list_user %}<li><a href="{% url 'identity:user_list' %}">User</a></li>{% endif %}
                      {% if perm.list_group %}<li><a href="{% url 'identity:group_list' %}">Group</a></li>{% endif %}
                      {% if perm.list_permission %}<li><a href="{% url 'identity:permission_list' %}">Permission</a></li>{% endif %}
                    </ul>
                  </li>
                {% endif %}
              {% endwith %}

              {% if perms.settings.settings_list %}
                <li>
                  <a href="{% url 'settings:settings_list' %}" class="waves-effect"><i class="mdi mdi-settings"></i> <span> {% trans 'Settings' %} </span> </a>
                </li>
              {% endif %}
            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- End sidebar menu-->
          <div class="clearfix"></div>
        </div>

      </div>
      <!-- Left Sidebar End -->
    {% endblock %}  {# left_sidebar #}

    {% block content_page %}
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid">
            {% block container %}{% endblock %}
          </div>

        </div>
        <!-- End content -->
        <footer class="footer text-right">
          2016 - 2018 © abc.com
        </footer>
      </div>
      <!-- ============================================================== -->
      <!-- End right Content here -->
      <!-- ============================================================== -->
    {% endblock %}  {# content_page #}

    {% block right_sidebar %}
      <!-- Right Sidebar -->
      <div class="side-bar right-bar">
        <a href="javascript:void(0);" class="right-bar-toggle">
          <i class="mdi mdi-close-circle-outline"></i>
        </a>
        <h4 class="">Notifications</h4>
        <div class="notification-list nicescroll" tabindex="5000">
          <ul class="list-group list-no-border user-list">
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="avatar">
                  <img src="{% static 'images/users/avatar-2.jpg' %}" alt="">
                </div>
                <div class="user-desc">
                  <span class="name">Michael Zenaty</span>
                  <span class="desc">There are new settings available</span>
                  <span class="time">2 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="icon bg-info">
                  <i class="mdi mdi-account"></i>
                </div>
                <div class="user-desc">
                  <span class="name">New Signup</span>
                  <span class="desc">There are new settings available</span>
                  <span class="time">5 hours ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" class="user-list-item">
                <div class="icon bg-pink">
                  <i class="mdi mdi-comment"></i>
                </div>
                <div class="user-desc">
                  <span class="name">New Message received</span>
                  <span class="desc">There are new settings available</span>
                  <span class="time">1 day ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item active">
              <a href="#" class="user-list-item">
                <div class="avatar">
                  <img src="{% static 'images/users/avatar-3.jpg' %}" alt="">
                </div>
                <div class="user-desc">
                  <span class="name">James Anderson</span>
                  <span class="desc">There are new settings available</span>
                  <span class="time">2 days ago</span>
                </div>
              </a>
            </li>
            <li class="list-group-item active">
              <a href="#" class="user-list-item">
                <div class="icon bg-warning">
                  <i class="mdi mdi-settings"></i>
                </div>
                <div class="user-desc">
                  <span class="name">Settings</span>
                  <span class="desc">There are new settings available</span>
                  <span class="time">1 day ago</span>
                </div>
              </a>
            </li>

          </ul>
        </div>

      </div>  <!-- /Right-bar -->
      </div>
      <!-- end wrapper -->

    {% endblock %}  {# right_sidebar #}

{% endblock %}  {# main #}


{% block app_js %}
  {% block dashboard_js_head %}{% endblock %}
  <!-- App js -->
  <script src="{% static 'js/assets/jquery.core.js' %}"></script>
  <script src="{% static 'js/assets/jquery.app.js' %}"></script>
  <script src="{% static 'js/assets/reconnecting-websocket.js' %}"></script>
  <script>
      var global_user_id = '{{ user.id }}';
      var logout_url = '{% url 'identity:user_logout' %}';
  </script>
  <script src="{% static 'js/pages/dashboard.js' %}"></script>
  {% block dashboard_js %}{% endblock %}
{% endblock %}