{% extends "base/base.html" %}
{% load staticfiles %}

{% block css %}
  <link href="{% static 'css/assets/ghpages-materialize.css' %}" rel="stylesheet">
  {% block css_dashboard %}{% endblock %}
{% endblock %}

{% block header %}
  <header>
    {% block header_nav %}
      {# top nav #}
      <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h1 class="header">{% block header_nav_title %}Header{% endblock %}</h1>
              </div>
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}
    <div class="container"><a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a></div>
    {# side nav #}
    <ul id="nav-side" class="sidenav sidenav-fixed">
      <li class="logo"><a id="logo-container" href="/" class="brand-logo">
        <img src="{% static 'images/logo/logo.jpg' %}" style="width: 100%;"></a>
      </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          {% for menu in side_nav_menus %}
            {% with menu=menu.menu submenu=menu.submenu %}
              {% if menu|length > 0 %}
                <li class="bold">
                  <a class="collapsible-header waves-effect waves-teal">{{ menu.name }}</a>
                  <div class="collapsible-body">
                    <ul>
                      {% for item in submenu %}
                      <li><a href="">
                        {{ submenu.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              {% else %}
                {# no sub menu #}
                <li class="bold">
                  <a class="waves-effect waves-teal" href="/{{ menu.name }}"></a>
                </li>
              {% endif %}
            {% endwith %}
          {% endfor %}
        </ul>
      </li>
    </ul>
    <script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
    <div class="bsa-cpc"></div>
    <script>
          (function(){
            if(typeof _bsa !== 'undefined' && _bsa) {
            _bsa.init('default', 'CKYD55QM', 'placement:materializecsscom', {
              target: '.bsa-cpc',
              align: 'horizontal',
              disable_css: 'true'
            });
              }
          })();

    </script>

  </header>

{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 m8 l8">
        Hello, I'm dashboard
      </div>
    </div>

  </div>
{% endblock %}

{% block footer %}{% endblock %}
{% block js %}
  {% block js_dashboard %}{% endblock %}
{% endblock %}