{% extends "base/dashboard.html" %}
{% load i18n %}
{% load static %}
{% load common_tags %}

{% block sub_title %}{% trans 'Volume' %}{% endblock %}
{% block dashboard_css %}

{% endblock %}


{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box" id="volumeListCard">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#group-create-modal">{% trans 'New group' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">{% trans 'Edit group' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>

        <h4 class="header-title m-t-0 m-b-30">{% trans 'Volume list' %}</h4>

        <p class="text-muted font-13 m-b-25">
          {% blocktrans %}
            Welcome to volume list, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        <div class="table-responsive">
          <table class="table m-0">
            <thead>
            <tr>
              <th>{% trans 'volume' %}</th>
              <th>{% trans 'status' %}</th>
              <th>{% trans 'size' %}</th>
              <th>{% trans 'id' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for v in volume_list %}
              <tr>
                <td><a href="{% url 'storage:volume_detail' v.id %}">{{ v.display_name }}</a></td>
                <td><span class="badge badge-{{ v.status|status_css_selector }}">{{ v.status }}</span></td>
                <td>{{ v.size }}</td>
                <td>{{ v.id }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- end col -->

  </div>

{% endblock %}

{% block dashboard_js %}
  <script>
      {# django value to js #}

  </script>
  <script src="{% static 'js/pages/storage/volume.js' %}"></script>
{% endblock %}