{% extends "base/dashboard.html" %}
{% load i18n %}
{% load static %}
{% load common_tags %}

{% block sub_title %}{% trans 'Volume create' %}{% endblock %}
{% block dashboard_css %}
  <link href="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet">
{% endblock %}


{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box" id="volume-create-card">
        {#        <div class="dropdown pull-right">#}
        {#          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">#}
        {#            <i class="mdi mdi-dots-vertical"></i>#}
        {#          </a>#}
        {#          <div class="dropdown-menu dropdown-menu-right">#}
        {#            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#group-create-modal">{% trans 'New group' %}</a>#}
        {#            <a href="javascript:void(0);" class="dropdown-item">{% trans 'Edit group' %}</a>#}
        {#            <a href="javascript:void(0);" class="dropdown-item">Something else</a>#}
        {#            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>#}
        {#          </div>#}
        {#        </div>#}

        <h4 class="header-title m-t-0 m-b-30">{% trans 'Volume create' %}</h4>

        <p class="text-muted font-13 m-b-25">
          {% blocktrans %}
            Welcome to volume create page, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            {% include 'storage/volume/forms/volume_create_form.html' with form=form %}
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <p>Volume creation instruction here</p>
          </div>
        </div>
      </div>
    </div><!-- end col -->

  </div>

{% endblock %}

{% block dashboard_js %}
  <script>
      {# django value to js #}

  </script>
  <script src="{% static 'js/pages/storage/volume/volume_create.js' %}"></script>
  <script src="{% static 'plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
{% endblock %}