/*
For common use
 */

/* global */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.loading-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: rgba(0,0,0,0.15);
}

.messages {
  position: relative;
  margin: 0;
  height: 48px;
  width: 100%;
  z-index: 999;
}

.message {
  position: absolute;
  height: inherit;
  width: inherit;
  line-height: 48px;
}

.message-debug {
  color: #37474f;
  background-color: #cfd8dc;
}
.message-info {
  color: #0277bd;
  background-color: #b3e5fc;
}
.message-success {
  color: #2e7d32;
  background-color: #c8e6c9;
}
.message-warning {
  color: #ef6c00;
  background-color: #ffe0b2;
}
.message-error {
  color: #c62828;
  background-color: #ffcdd2;
}


/* Material Icons */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
