{% extends "base/dashboard.html" %}
{% load i18n static %}

{% trans 'group users' as group_users %}
{% trans 'group detail' as group_detail_trans %}

{% block app_title %}{% trans 'Group' %} - {% trans 'Detail' %}{% endblock %}
{% block dashboard_css %}
  <link href="{% static 'plugins/jstree/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/multiselect/multi-select.css' %}" rel="stylesheet">
{% endblock %}

{% block modals %}
  <div class="modal fade" id="group-detail-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      {% include 'identity/management/forms/group_update_form.html' with form=group_update_form %}
    </div>
  </div>

  {#  <div class="modal fade" id="group-delete-modal" tabindex="-1" role="dialog">#}
  {#    <div class="modal-dialog" role="document">#}
  {#      {% include 'identity/management/forms/group_delete_form.html' %}#}
  {#    </div>#}
  {#  </div>#}

  <div class="modal fade" id="group-perms-update-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Update group permissions' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              {# render jstree #}
              <div id="group-perms-tree">
                <ul>
                  {% for ct in perm_content_types %}
                    {# group by content_types #}
                    <li>{{ ct.name }}
                      <ul>
                        {% for perm_item in all_perms %}
                          {% if perm_item.content_type_id == ct.id %}
                            <li id="{{ perm_item.id }}" {% if perm_item.assigned %}data-jstree='{ "selected" : true, "opened" : true }'{% endif %}>{{ perm_item.codename }} ({{ perm_item.name }})</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="group-perms-update-btn" type="button" class="btn btn-primary">{% trans 'Save changes' %}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>  <!-- groupPermUpdateModal -->

  <div class="modal fade" id="group-user-update-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <form class="modal-content" method="post" action="{% url 'identity:group_user_update' group.id %}">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Update group users' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">

              <select name="group_user" id="group-user-multi-select" multiple="multiple" title="group-user-multi-select">
                {% for u in not_group_users %}
                  <option value="{{ u.id }}">{{ u.username }}</option>
                {% endfor %}
                {% for u in group_users %}
                  <option value="{{ u.id }}" selected>{{ u.username }}</option>
                {% endfor %}
              </select>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="" type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </form>
    </div>
  </div>  <!-- group-user-update-modal -->


{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">

      <div class="card-box" id="group-detail-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#group-detail-modal">{% trans 'Update group' %}</a>
            <a href="javascript:void(0);" id="delete-group" class="dropdown-item">{% trans 'Delete group' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>
        <h4 class="header-title m-t-0 m-b-30">{% trans 'Group detail' %}</h4>
        <p class="text-muted font-13 m-b-25">

          {% blocktrans trimmed with name=group_detail_trans %}
            Welcome to {{ name }}, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>
        <p>{% trans 'Group name' %}: {{ group.name }}</p>
        <p>{% trans 'Group' %} ID: {{ group.id }}</p>
      </div>

      <div class="card-box" id="group-user-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#group-user-update-modal">{% trans 'Update group users' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>
        <h4 class="header-title m-t-0 m-b-30">{% trans 'Group users' %}</h4>
        <p class="text-muted font-13 m-b-25">
          {% blocktrans trimmed with name=group_users %}
            Welcome to {{ name }}, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        {% if group_users|length > 0 %}
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>{% trans 'username' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'active' %}</th>
              </tr>
              </thead>
              <tbody>
              {% for u in group_users %}
                <tr>
                  <td>{{ u.username }}</td>
                  <td>{{ u.email }}</td>
                  <td>{{ u.is_active }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          {% include 'base/widgets/table_placeholder.html' with text_content='No users in this group' %}
        {% endif %}


      </div>

      <div class="card-box" id="group-perms-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#group-perms-update-modal">{% trans 'Update permission' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>

        <h4 class="header-title m-t-0 m-b-30">{% trans 'Group permissions' %}</h4>

        <p class="text-muted font-13 m-b-25">
          {% blocktrans trimmed with name='group permission' %}
            Welcome to {{ name }}, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        {% with group_perms=group.permissions.all %}
          {% if group_perms|length > 0 %}
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                <tr>
                  <th>{% trans 'Name' %}</th>
                  <th>{% trans 'Content type' %}</th>
                  <th>{% trans 'Code name' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in group.permissions.all %}
                  <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.content_type }}</td>
                    <td>{{ p.codename }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          {% else %}
            {% include 'base/widgets/table_placeholder.html' with text_content='This group has no permission' %}
          {% endif %}
        {% endwith %}

    </div><!-- end col -->

  </div>
{% endblock %}

{% block dashboard_js %}
  <script>
      {# django value to js #}
      var groupPermsUpdateUrl = "{% url 'identity:group_permission_update' group.id %}";
      var groupListUrl = "{% url 'identity:group_list' %}";
      var groupName = '{{ group.name }}'
  </script>
  <script src="{% static 'plugins/jstree/jstree.min.js' %}"></script>
  <script src="{% static 'plugins/multiselect/jquery.multi-select.js' %}"></script>
  <script src="{% static 'plugins/quicksearch/jquery.quicksearch.js' %}"></script>

  <script src="{% static 'js/pages/identity/group.js' %}"></script>
  <script>

  </script>
{% endblock %}