{% extends "base/dashboard.html" %}
{% load i18n static %}

{% block app_title %}{% trans 'User - Detail' %}{% endblock %}
{% block dashboard_css %}
  <link href="{% static 'plugins/jstree/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'plugins/multiselect/multi-select.css' %}" rel="stylesheet">
{% endblock %}

{% block modals %}

  <div class="modal fade" id="user-detail-update-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      {% include 'identity/management/forms/user_update_form.html' with form=user_update_form %}
    </div>
  </div>

  {% if user.id == request.user.id %}
    {# user can only update their password #}
  <div class="modal fade" id="password-change-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      {% include 'identity/management/forms/password_change_form.html' with form=password_change_form %}
    </div>
  </div>
  {% endif %}

  <div class="modal fade" id="user-resource-update-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Update user resources' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-12">

              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a href="#user-host" data-toggle="tab" aria-expanded="false" class="nav-link active">{% trans 'host' %}</a>
                </li>
                <li class="nav-item">
                  <a href="#user-volume" data-toggle="tab" aria-expanded="false" class="nav-link">{% trans 'volume' %}</a>
                </li>
                <li class="nav-item">
                  <a href="#user-server" data-toggle="tab" aria-expanded="false" class="nav-link">{% trans 'server' %}</a>
                </li>
                <li class="nav-item">
                  <a href="#user-storage" data-toggle="tab" aria-expanded="false" class="nav-link">{% trans 'storage' %}</a>
                </li>
                <li class="nav-item">
                  <a href="#user-network" data-toggle="tab" aria-expanded="false" class="nav-link">{% trans 'network' %}</a>
                </li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="user-host">
                  <select name="user_host" id="user-host-multi-select" multiple="multiple" title="user_host_multi_select">
                    {% with not_host=not_resources.host host=resources.host%}
                      {% if not_host %}
                        {% for r in not_host %}
                          <option value="{{ r.id }}">{{ r.display_name }}</option>
                        {% endfor %}
                      {% endif %}
                      {% if host %}
                        {% for r in host %}
                          <option value="{{ r.id }}" selected>{{ r.display_name }}</option>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </select>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="user-volume">
                  <select name="user-volume" id="user-volume-multi-select" multiple="multiple" title="user-volume-multi-select">
                    {% with not_volume=not_resources.volume volume=resources.volume%}
                      {% if not_volume %}
                        {% for r in not_volume %}
                          <option value="{{ r.id }}">{{ r.display_name }}</option>
                        {% endfor %}
                      {% endif %}
                      {% if volume %}
                        {% for r in volume %}
                          <option value="{{ r.id }}" selected>{{ r.display_name }}</option>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </select>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="user-server">
                  <select name="user-server" id="user-server-multi-select" multiple="multiple" title="user-server-multi-select">
                    {% with not_server=not_resources.server server=resources.server%}
                      {% if not_server %}
                        {% for r in not_server %}
                          <option value="{{ r.id }}">{{ r.display_name }}{% if r.user %} ({{ r.user.username }}){% endif %}</option>
                        {% endfor %}
                      {% endif %}
                      {% if server %}
                        {% for r in server %}
                          <option value="{{ r.id }}" selected>{{ r.display_name }}</option>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </select>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="user-storage">
                  <p>4444</p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="user-network">
                  <p>4444</p>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
          <button id="user-resource-update-btn" type="button" class="btn btn-primary">{% trans 'Save changes' %}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>  <!-- userObjectPermsModal -->

  <div class="modal fade" id="user-perms-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans 'Update user permissions' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
              {# render jstree #}
              <div id="user-perms-tree">
                <ul>
                  {% for ct in perm_content_types %}
                    {# user by content_types #}
                    <li>{{ ct.name }}
                      <ul>
                        {% for perm_item in all_perms %}
                          {% if perm_item.content_type_id == ct.id %}
                            <li id="{{ perm_item.id }}" {% if perm_item.assigned %}data-jstree='{ "selected" : true, "opened" : true }'{% endif %}>{{ perm_item.codename }} ({{ perm_item.name }})</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="user-perms-update-btn" type="button" class="btn btn-primary">{% trans 'Save changes' %}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        </div>
      </div>
    </div>
  </div>  <!-- user-perms-modal -->
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-lg-12">
      <div class="card-box" id="user-detail-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#user-update-modal">{% trans 'Update user' %}</a>
            <a href="javascript:void(0);" id="delete-user" class="dropdown-item">{% trans 'Delete user' %}</a>
            {% if user.id == request.user.id %}<a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#password-change-modal">{% trans 'Change password' %}</a>{% endif %}
          </div>
        </div>

        <h4 class="header-title m-t-0 m-b-30">{% trans 'User detail' %}</h4>

        <p class="text-muted font-13 m-b-25">
          {% blocktrans trimmed %}
            Welcome to user detail, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        <p>{% trans 'username' %} <span>{{ user.username }}</span></p>
        <p>{% trans 'user' %} ID <span>{{ user.id }}</span></p>
        <p>{% trans 'active' %} <span>{% if user.is_active %}{% trans 'yes' %}{% else %}{% trans 'no' %}{% endif %}</span></p>
        <p id="user-email">{% trans 'email' %} <span>{{ user.email }}</span></p>
      </div>  {# user-detail-card-box #}


      <div class="card-box" id="user-resource-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#user-resource-update-modal">{% trans 'Update resources' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>

        <h4 class="header-title m-t-0 m-b-30">{% trans 'User resources' %}</h4>

        <p class="text-muted font-13 m-b-25">
        {% comment %}Translators: just test comment{% endcomment %}
          {% blocktrans trimmed %}
            Welcome to user resources, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        {% if resources|length > 0 %}
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>{% trans 'Type' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Id' %}</th>
              </tr>
              </thead>
              <tbody>
              {% for t, r in resources.items %}
                {% if t == 'storage' %}
                  {% for i in r %}
                    <tr>
                    <td>{{ t }}</td>
                    <td>{{ i.name }}</td>
                    <td>{{ i.id }}</td>
                  </tr>
                  {% endfor %}

                {% else %}
                  {% if t == 'server' %}
                    {% for i in r %}
                    <tr>
                      <td>{{ t }}</td>
                      <td>{{ i.display_name }}</td>
                      <td>{{ i.uuid }}</td>
                    </tr>
                    {% endfor %}
                  {% else %}
                    {% for i in r %}
                    <tr>
                      <td>{{ t }}</td>
                      <td>{{ i.display_name }}</td>
                      <td>{{ i.id }}</td>
                    </tr>
                    {% endfor %}
                  {% endif %}
                {% endif %}

              {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          {% include 'base/widgets/table_placeholder.html' with text_content='No users here' %}
        {% endif %}

      </div>  {# user-resource-card-box #}

      <div class="card-box" id="user-perms-card-box">
        <div class="dropdown pull-right">
          <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="mdi mdi-dots-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0);" class="dropdown-item" data-toggle="modal" data-target="#user-perms-modal">{% trans 'Update permissions' %}</a>
            <a href="javascript:void(0);" class="dropdown-item">Something else</a>
            <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
          </div>
        </div>

        <h4 class="header-title m-t-0 m-b-30">{% trans 'User permissions' %}</h4>

        <p class="text-muted font-13 m-b-25">
          {% blocktrans trimmed with name='user permission' %}
            Welcome to {{ name }}, please click top-right icon to discover more.
          {% endblocktrans %}
        </p>

        {% with permissions=user.user_permissions.all %}
          {% if permissions|length > 0 %}
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                <tr>
                  <th>{% trans 'Name' %}</th>
                  <th>{% trans 'Content type' %}</th>
                  <th>{% trans 'Code name' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p in user.user_permissions.all %}
                  <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.content_type }}</td>
                    <td>{{ p.codename }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <div class="m-4 text-center text-muted">{% trans 'No permissions here' %}</div>
          {% endif %}
        {% endwith %}
      </div>  {# user-perms-card-box #}

    </div><!-- end col -->

  </div>
{% endblock %}

{% block dashboard_js_head %}
  <script>
      {# django value to js #}
      var userPermsUrl = "{% url 'identity:user_permission_update' user.id %}";
      var userObjectPermsUrl = "";
      var userName = "{{ user.username }}";
      var userDeleteUrl = "{% url 'identity:user_delete' user.id %}";
      var userListUrl = "{% url 'identity:user_list' %}";
  </script>
  <script src="{% static 'js/pages/identity/user_detail.js' %}"></script>
  <script src="{% static 'plugins/jstree/jstree.min.js' %}"></script>

  <script src="{% static 'plugins/multiselect/jquery.multi-select.js' %}"></script>
  <script src="{% static 'plugins/quicksearch/jquery.quicksearch.js' %}"></script>
{% endblock %}