{% load i18n common_tags %}

<form class="form-horizontal" method="post" action="{% url 'storage:volume_create' %}" role="form">
  {% csrf_token %}
  <div class="form-group">
    {{ form.name|label_css_decorator:'col-2 col-form-label' }}
    <div class="col-10">
      {{ form.name }}
    </div>
  </div>
    <div class="form-group">
    <div class="form-group">
      {{ form.size|label_css_decorator:'col-2 col-form-label' }}
      <div class="col-10">
        {{ form.size }}
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="form-group">
      {{ form.number|label_css_decorator:'col-2 col-form-label' }}
      <div class="col-10">
        {{ form.number }}
      </div>
    </div>
  </div>

  <div class="form-group">
    {{ form.user|label_css_decorator:'col-2 col-form-label' }}
    <div class="col-10">
      {{ form.user }}
    </div>
  </div>
  <div class="form-group">
    {{ form.storage|label_css_decorator:'col-2 col-form-label' }}
    <div class="col-10">
      {% if form.storage.choices|length > 0 %}
      {{ form.storage }}
        {% else %}
        {{ form.storage }}
      {% endif %}
    </div>
  </div>
  <div class="modal-footer col-10 m-t-40">
    <button type="submit" class="btn btn-primary">{% trans 'Save changes' %}</button>
  </div>
</form>