<form class="col s12 m6 offset-m3" method="post" action="{% url 'identity:user_create' %}">
  {% csrf_token %}

  <div class="card-panel" style="background: rgba(255,255,255,0.85);">
    <div class="row">
      <h4 class="center">{{ form.form_slogan }}</h4>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        {{ form.username }}
        {{ form.username.label_tag }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        {{ form.password1 }}
        {{ form.password1.label_tag }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">lock</i>
        {{ form.password2 }}
        {{ form.password2.label_tag }}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
          {{ form.email }}
          {{ form.email.label_tag }}
      </div>
    </div>
    <div class="row">
      <button  class="waves-effect waves-light btn col l8 m10 s12 offset-l2 offset-m1"
               type="submit" name="action">{{ form.submit_btn }}</button >
    </div>
  </div>

</form>